<div id="container">
	<% if user_signed_in? %>
	<% current_user.posts.each do |post| %>
		<div class="grid">
			<div class="imgholder"><%= image_tag post.picture.url %></div>
    		<strong><%= post.content %></strong>
    		<div class="meta"><%= current_user.first_name %> <%= current_user.last_name %></div>
    	</div>
    <% end %>
    <% end %>
</div>
