<div class="hero-unit">
        <h1>Welcome to MyBlog</h1>
        <p>This is my Ruby on Rails demo application,please enjoy!!</p>
        <p>
        	
        	<%= link_to "Sign Up &raquo;".html_safe, new_user_registration_path, :class => "btn btn-primary btn-large" %>
        </p>
</div>